/* Type */

body {
	background-color: black;
	color: #1e10f3;
	line-height: 0.25;
	font-family: courier new;
	font-size: 4em;
	text-shadow: -10px 40px #ff00d4;
	filter: blur(2px);

}


p 	{
	font-family: avenir;
	line-height: 0.5;
	filter: brightness(3);
	text-indent: 2em;	
	font-size: 0.6em;
}
div {
	background-color: #009688;
	filter: saturate(10);


}

.new-color 
{
	color: red;
}

.other-font {
	font-family: courier new;
	transform: rotate(90deg);
	text-decoration: underline;
	filter: blur(60px);
	line-height: 0.5em;

	
}
